.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
  color:green;
}

.hero__content {
  padding-top: 80px;
  color: red;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}
.mb-5{
color: black;
}

.search {
  width: 60%;
  border: 1px solid #17bf9d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}
/* .FrontImg{
mask-image: -moz-element(10px);
} */